<template name="layout">
	<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="/">Timekeeping</a></h1>
	    </li>
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>

	  <section class="top-bar-section">
	    <ul class="right">
	      <li class="active"><a href="#">Spring (Java)</a></li>
	      <li class="has-dropdown">
	        <a href="#">Days</a>
	        <ul class="dropdown">
		        {{#each days}}
							{{> daysList}}
						{{/each}}
	        </ul>
	      </li>
	    </ul>
	  </section>
	</nav>

	<div class="row">
		{{> yield}}
	</div>
	
	<script>
	  $(document).foundation();
	</script>
</template>

<template name="daysList">
	<li><a href="/{{date}}">{{date}}</a></li>
</template>

